body {
    background-color: deepskyblue;
}

.mapdiv {
    width: 100%;
    margin: auto;
}

.mapdiv path {
    display: inline;
    fill: #a5ce3b;
    fill-opacity: 0.1;
    stroke: #000000;
    stroke-width: 1.5;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
    transition: fill 0.3s;
}

.mapdiv circle {
    display: inline;
    fill: var(--light);
    fill-opacity: 1;
    stroke: var(--light);
    stroke-width: 1.938941;
    stroke-opacity: 1;
    cursor: pointer;
}

.mapdiv text {
    fill: var(--light);
    cursor: pointer;
}

.mapdiv text[data-text='SiemReap'] {
    text-transform: uppercase;
}

.mapdiv .pin {
    fill: var(--warning);
    fill-opacity: 1;
    stroke: #7e6a56;
    stroke-width: 1.04689;
    stroke-opacity: 1;
    transform: scale(0.8);
}

.mapdiv .pinCircle {
    display: inline;
    fill: var(--primary);
    fill-opacity: 1;
    stroke: #7a6a56;
    stroke-width: 0.938941;
    stroke-opacity: 1;
    transform: scale(0.8);
}

.mapdiv :hover:not(.pin):not(.pinCircle) {
    fill: black;
}

.mapdiv g:hover *:not(.pin):not(.pinCircle) {
    fill: var(--success);
}

#palm * {
    fill: var(--success);
    fill-opacity: 1;
    stroke: none;
}

#temple *,
#elephant * {
    fill: #9e6645;
    fill-opacity: 1;
    stroke: none;
}

#shadow2 {
    display: inline;
    fill: #ceebde;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #ceebde;
    stroke-width: 19.396;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#shadow1 {
    display: inline;
    fill: #68823a;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #68823a;
    stroke-width: 19.396;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#mapBackground {
    display: inline;
    fill: #a5ce3b;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #a5cd45;
    stroke-width: 19.396;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#nationalBorder {
    display: inline;
    fill: none;
    stroke: #ffffff;
    stroke-width: 1.57083738;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#lake {
    display: inline;
    fill: #12a89d;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1.0506px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

.mapdiv path[id^='province'] {
    stroke: none;
    stroke-width: 0.5;
}

path[id^='KH'] {
    stroke: none;
}

path[id^='KH']:hover {
    stroke: var(--light);
}

#pinVarin {
    --positionX: 63px;
    --positionY: 8px;
    --delay: 0.1s;
}

#pinSreiSnam {
    --positionX: 99px;
    --positionY: 5px;
    --delay: 0.3s;
}

#pinKralanh {
    --positionX: 96px;
    --positionY: 11px;
    --delay: 0.5s;
}

#pinSiemReap {
    --positionX: 97px;
    --positionY: 2px;
    --delay: 0.7s;
}

#pinKompongLeaeng {
    --positionX: 66px;
    --positionY: 28px;
    --delay: 0.9s;
}

#pinTaingKork {
    --positionX: 52px;
    --positionY: 49px;
    --delay: 1.1s;
}

#pinVarin,
#pinSreiSnam,
#pinKralanh,
#pinSiemReap,
#pinKompongLeaeng,
#pinTaingKork {
    transform: translate((var(--positionX)), var(--positionY));
    animation: dropDown 5s var(--delay) forwards, bounce 8s calc(5s + var(--delay)) infinite;
}

@keyframes dropDown {
    0% {
        transform: translate(var(--positionX), calc(var(--positionY) + 21px));
    }
    12% {
        transform: translate(var(--positionX), calc(var(--positionY) + 2.29px));
    }
    24% {
        transform: translate(var(--positionX), calc(var(--positionY) + 9.15px));
    }
    36% {
        transform: translate(var(--positionX), calc(var(--positionY) + 20.58px));
    }
    54% {
        transform: translate(var(--positionX), calc(var(--positionY) + 15.75px));
    }
    74% {
        transform: translate(var(--positionX), calc(var(--positionY) + 20.66px));
    }
    82% {
        transform: translate(var(--positionX), calc(var(--positionY) + 19.69px));
    }
    92% {
        transform: translate(var(--positionX), calc(var(--positionY) + 20.86px));
    }
    96% {
        transform: translate(var(--positionX), calc(var(--positionY) + 20.68px));
    }
    100% {
        transform: translate(var(--positionX), calc(var(--positionY) + 21px));
    }
}

@keyframes bounce {
    0%,
    20%,
    46%,
    50%,
    54%,
    80%,
    100% {
        transform: translate(var(--positionX), calc(var(--positionY) + 21px));
    }
    48% {
        transform: translate(var(--positionX), calc(var(--positionY) + 11px));
    }
    52% {
        transform: translate(var(--positionX), calc(var(--positionY) + 16px));
    }
}
